:root {
  --aqua: #1dd7c4;
  --green: #004948;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1325px;
  margin: 0 auto;
}

.hero .section__title {
  padding-top: 60px;
}
.section {
  padding: 0 16px;
  text-align: center;
}
.section__title {
  font-size: 1.5rem;
  font-weight: bold;
}
.section__title__underline {
  background-color: var(--aqua);
  width: 120px;
  height: 10px;
  margin: 0 auto;
}

.section__text {
  color: #808080;
  font-size: 12px;
  padding: 20px 0;
}
.card__section__wrapper {
  padding: 0 20px;
}

.card__wrapper {
  background-color: var(--aqua);
  padding: 22px 26px;
  padding-bottom: 0;
  max-width: 320px;
  margin: 10px auto;
}
.card__title {
  font-size: 18px;
  margin: 10px 0;
  margin-bottom: 0;
}

.card__text {
  margin: 10px 0;
  font-size: 12px;
  margin-top: 6px;
}
.card__graph img {
  position: relative;
  top: 4px;
  width: 90%;
  height: 70px;
}

.gauge__meter {
  text-align: center;
  margin-top: 50px;
}
.gauge__meter__text {
  font-weight: bold;
  font-size: 14px;
  color: white;
  background-color: #db2955;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 30px;
  margin-top: 30px;
}
.calls__received__wrapper {
  margin-top: 72px;
}

.card__green__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__green__wrapper {
  padding-bottom: 48px;
}
.card__green {
  background-color: var(--green);
  color: white;
  max-width: 320px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 20px;
}

.card__green__title p {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  line-height: 1;
}
.card__green__text p {
  margin-bottom: 0;
  font-size: 14px;
}
.comments__written__wrapper {
  background-color: #f6f6f6;
  padding: 22px 0;
}
.hotspot__maps__wrapper {
  padding: 22px 0;
  padding-bottom: 100px;
  counter-reset: list-marker;
}

.hotspot__maps__area {
  padding: 0 40px;
  overflow-x: hidden;
}

.hotspot__maps__map {
  position: relative;
}
.hotspot__maps__region__wrapper {
  position: relative;
  width: 308px;
  height: 445px;
  margin: 0 auto;
}
.circle {
  width: 100%;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  transition: all 0.2s;
}
.circle::after {
  content: "";

  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--green);
  display: inline-block;
  position: absolute;
  transition: all 0.2s;
}
.circle.big:after {
  transform: scale(3);
}
.circle:hover::after {
  cursor: pointer;
}
.circle__popup {
  background-color: #00cfc9;
  padding: 8px 30px;
  display: none;
  color: white;
  border-radius: 10px;
  position: absolute;
  bottom: 20px;
  transform: translateX(calc(-50% + 3px));
}

.circle:hover .circle__popup {
  display: inline-block;
}
.circle__popup p {
  margin: 0;
  padding-bottom: 10px;
  font-size: 12px;
}
.circle__popup h2 {
  margin: 0;
  padding: 10px 0;
  font-size: 20px;
}
.circle__popup::after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 207, 201, 0);
  border-top-color: #00cfc9;
  border-width: 12px;
  margin-left: -12px;
}
.circle-1 {
  top: 263px;
  left: 96px;
}
.circle-2 {
  top: 290px;
  left: 92px;
}
.circle-3 {
  top: 310px;
  left: 70px;
}
.circle-4 {
  top: 318px;
  left: 94px;
}
.circle-5 {
  top: 334px;
  left: 50px;
}
.circle-6 {
  top: 254px;
  left: 210px;
}
.circle-7 {
  top: 286px;
  left: 206px;
}
.circle-8 {
  top: 296px;
  left: 230px;
}
.circle-9 {
  top: 308px;
  left: 210px;
}
.circle-10 {
  top: 312px;
  left: 240px;
}
.circle-11 {
  top: 399px;
  left: 186px;
}
.circle-12 {
  top: 393px;
  left: 200px;
}
.circle-13 {
  top: 411px;
  left: 198px;
}
.circle-14 {
  top: 407px;
  left: 212px;
}
.circle-15 {
  top: 394px;
  left: 250px;
}
.circle-16 {
  top: 410px;
  left: 245px;
}
.circle-17 {
  top: 406px;
  left: 261px;
}
.hotspot__maps__bar ol {
  padding-left: 0;
}
.hotspot__maps__bar li {
  position: relative;
  padding-top: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 0;
  margin-top: 16px;
}

.hotspot__maps__bar ol li label {
  font-weight: bold;
}

.hotspot__maps__bar .progress__bar {
  flex: 1;
  height: 8px;
  background-color: #e6e6e6;
  margin-left: 0;
  flex-basis: 100%;
}
.hotspot__maps__bar .progress {
  background-color: var(--aqua);
  height: 8px;
}
.hotspot__maps__bar li label::before {
  counter-increment: list-marker;
  content: counter(list-marker) ".  ";
  font-weight: bold;
}
.hotspot__maps__bar li span {
  position: absolute;
  top: 0;
  display: block;
  right: 0;
  color: #808080;
  font-size: 12px;
}
.contact__wrapper {
  background-color: #00cfc9;
  padding: 38px 0;
}
.contact__wrapper .container {
  padding: 0 40px;
  text-align: center;
}
.contact__wrapper p {
  color: #221f49;
  max-width: 600px;
  padding: 0;
}
.contact__wrapper .section__title {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0;
}
.contact__btn {
  background-color: #221f49;
  color: #05baba;
  font-size: 22px;
  font-weight: bold;
  padding: 18px 48px;
  display: inline-block;
  border-radius: 6px;
  line-height: 1;
  margin-top: 32px;
  margin-top: 16px;
}
.chart {
  padding: 28px 16px;
  background: white;
  margin-bottom: 16px;
}

.chart__wrapper {
  max-width: 100%;
  margin: 0 auto;
  max-height: 200px;
}
.chart__wrapper > :first-child {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}
.myChart {
  max-width: 100%;
  min-width: 100%;
  max-height: 200px;
}
.arrow_box {
  padding: 6px 20px 10px !important;
  border-radius: 10px;
  background: var(--green);
  color: white;
  opacity: 1;
  width: auto;
  height: auto;
  pointer-events: none;
  position: absolute;
  transition: all 0.1s ease;
}
.arrow_box:after {
  top: 98%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 73, 72, 0);
  border-top-color: var(--green);
  border-width: 10px;
  margin-left: -10px;
}

.tooltip__text {
  font-size: 12px;
  margin: 5px 0;
}
.tooltip__title {
  margin: 5px 0;
  font-size: 18px;
  font-weight: bold;
}

.chart__title {
  font-weight: bold;
  color: var(--green);
  text-align: left;
  margin: 0 auto;
  padding-bottom: 20px;
}
/*Responsive design*/

@media (min-width: 768px) {
  .section__title {
    font-size: 2.5rem;
  }
  .section__text {
    margin-left: auto;
    margin-right: auto;
    max-width: 740px;
    font-size: 14px;
  }
  .hero .section__title {
    padding-top: 100px;
  }
  .card__section__wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  .card__wrapper {
    margin: 0;
  }

  .card__green__wrapper {
    display: flex;
    justify-content: center;
  }

  .card__green {
    margin: 0;
    flex: 1;
  }
  .card__green:last-child {
    margin-left: 10px;
  }
  .chart {
    padding-top: 2rem;
    margin: 0 auto;
    margin-bottom: 32px;
    max-width: 80%;
    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0, 0.05);
  }

  .myChart {
    max-width: 90%;
    min-width: 90%;
  }
  .chart__wrapper {
    max-width: 90%;
  }

  .chart__title {
    max-width: 90%;
    padding: 2rem 5rem;
  }
  .calls__received__wrapper {
    padding-bottom: 24px;
  }
  .hotspot__maps__area {
    display: flex;
    justify-content: space-around;
  }
  .hotspot__maps__map {
    order: 2;
  }
  .hotspot__maps__bar .progress__bar {
    margin-left: 14px;
    flex: 1;
  }

  .hotspot__maps__bar {
    max-width: 40%;
    flex: 1;
    order: 1;
    padding-top: 30px;
  }

  .hotspot__maps__bar li {
    padding-top: 16px;
    margin-top: 0;
  }

  .contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    max-width: 90%;
  }
  .contact .contact__btn {
    flex-shrink: 0;
    margin-left: 10px;
  }
  .contact__wrapper .container {
    text-align: left;
  }

  .contact.section div:first-child {
    flex-shrink: 1;
  }
  .contact.section .section__text {
    margin-top: 4px;
  }
  .contact__wrapper p {
    padding: 20px 0;
  }
}
